@import "tailwindcss";
.navItem {
  @apply relative hover:text-gray-500 hover:cursor-pointer
         after:content-[''] after:absolute after:left-0 after:-bottom-1
         after:w-0 after:h-0.5 after:bg-gray-600
         after:transition-all after:duration-300 hover:after:w-full;
}

@font-face {
  font-family: "Tinos";
  src: url("./assets/fonts/Tinos/Tinos-Regular.ttf");
}

/* Default (light mode) */
:root {
  --bg-color: #ffffff;
  --text-color: #191919;
}

/* Dark mode */
html.dark {
  --bg-color: #111827; /* Tailwind gray-900 */
  --text-color: #ffffff;
}

/* Apply globally */
body {
  font-family: "Poppins", sans-serif;
  background-color: var(--bg-color);
  color: var(--text-color);
}

.TitleText {
  font-family: "Tinos", sans-serif;
}

.logo-black {
  filter: invert(1) brightness(0);
}

/* Swiper JS -- start */
.swiper-button-next,
.swiper-button-prev {
  color: white !important; /* arrow color */
  font-size: 14px !important; /* smaller arrow size */
  width: 24px !important;
  height: 24px !important;
  padding: 0 !important;
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
  color: gray !important;
}
.swiper-pagination {
  bottom: 0px !important;
}
.swiper-pagination-bullet-active {
  background-color: white !important;
}
.swiper-pagination-bullet {
  background-color: white !important;
}
.swiper-slide {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  margin-bottom: 40px !important;
  padding: 0 !important;
}
/* Swiper JS -- end */
